.topheader {
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: absolute;
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .topnav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
  }
  
  /* Logo */
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
  }
  
  .logo img {
    border-radius: 50%;
  }
  
  /* Menu */
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 0 15px;
  }
  
  .menu a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
  
    position: relative;
  }
  
  .open-menu,
  .close-menu {
    display: none;
  }
  
  .logotype {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 950px) {
    /* Menu */
    .menu {
      flex-direction: column;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      align-items: center;
      background-color: lightslategrey;
      height: 100%;
      overflow-y: auto;
      opacity:1;
      
    }
  
    .menu li {
      padding: 0;
    }
  
    .menu a {
      color: #282726;
      line-height: 80px;
      font-size: 30px;
    }
  
    .open-menu,
    .close-menu {
      display:block;
      border: none;
      background: none;
      cursor: pointer;
    }
  
    .close-menu {
      align-self: flex-end;
      padding: 20px 15px;
    }
  
    .menu_opened {
      opacity: 0;
      pointer-events: all;
    }
  
   
  }
