
@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap);



  
.profile-img-section {
    position: relative;
    max-width: 80%;
  }
  
  

.profile{

    text-align: center;
}

.profile-title{

    font-size: 35px;
    font-weight: bold;
    margin: 0 auto;
    color: var(--primary-color);
    font-family: 'Kanit', sans-serif;
}

.profile-details{

    
    text-align: center;
    right: 20px;
}

/* Media queries */
@media(min-width: 900px){

    
    
   
    .profile{
    
        text-align:center;
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
    }
    
    
    .profile-img-section {
        
        max-width: 80%;
      }
    

        
    }
    .profile-title{
    
        font-size: 90px;
        font-weight: bold;
        margin: 0;
        color: var(--primary-color);
        font-family: 'Kanit', sans-serif;
    }
    
    .profile-details{
    
        font-size: 30px;
        font-weight: bold;
        max-width: 550px;
        margin: 0 auto;

}
